extends ../auth.layout.pug

block content
  main.welcome
    div#container
    button.auth-btn(type="button") Авторизоваться
    .welcome__wrapper
      .welcome__container
        section.hello
          +image("content/user.jpg", "Владимир Астахов (фото)", "hello__photo")
          h1.hello__name Владимир Астахов
          h2.hello__descr Личный сайт веб разработчика
          ul.socials
            each item in ['vk', 'gh', 'ln']
              li.socials__item
                a.socials__link(href="#", class=`socials__link--`+item)
        nav.welc-menu
          ul.welc-menu__list
            each item in [['Мои работы', '/works.html'],['Обо мне', '/about.html'],['Блог', '/blog.html']]
              li.welc-menu__item
                a.welc-menu__link(href=item[1]) #{item[0]}
      .auth__container.js-toogle-face
        form.auth(action="")
          h1.auth__title Авторизуйтесь
          label.auth__label(for="login")
            figure.auth__label-icon.auth__label-icon--login
            input.auth__input#login(type="text", placeholder="Логин")
          label.auth__label(for="password")
            figure.auth__label-icon.auth__label-icon--password
            input.auth__input#password(type="password", placeholder="Пароль")
          .auth__checkbox-row
            input.auth__checkbox#ishuman(type="checkbox")
            label.auth__checkbox-label(for="ishuman") Я человек
          span.auth__question Вы точно не робот?
          .auth__radio-row
            .auth__radio-row.auth__radio-row--left
              input.auth__radio#yeshuman(type="radio", name="radiohuman")
              label.auth__radio-label(for="yeshuman") Да
            .auth__radio-row
              input.auth__radio#nohuman(type="radio", name="radiohuman")
              label.auth__radio-label(for="nohuman") Не уверен
        nav.welc-menu
          ul.welc-menu__list
            each item in [['На главную', 'js-back-to-main', 'button'],['Войти', 'js-auth-enter', 'submit']]
              li.welc-menu__item.welc-menu__item--auth
                button.welc-menu__button(type=item[2], class=item[1]) #{item[0]}
    footer.welcome__footer © Владимир Астахов | создано с любовью в LoftSchool | 2016